extensions:
	68publishers.i18n: SixtyEightPublishers\i18n\DI\I18nExtension(no)

68publishers.i18n:
	profiles:
		foo:
			language: [ en_US ]
			currency: [ EUR, USD, GBP ]
			country: [ GB, USA ]
		bar:
			language: [ cs_CZ ]
			currency: [ CZK ]
			country: [ CZ ]
