extensions:
	68publishers.i18n: SixtyEightPublishers\i18n\DI\I18nExtension(no)

68publishers.i18n:
	profiles:
		foo:
			language: [ en_US ]
			currency: [ EUR, USD, GBP ]
			country: [ GB, USA ]
			domain: [ 'example\.com\/foo\/' ]
		default:
			language: [ cs_CZ, sk_SK ]
			currency: [ CZK, EUR ]
			country: [ CZ, SK ]
		bar:
			language: de_DE
			currency: EUR
			country: DE
			domain: 'example\.com\/bar\/'
			enabled: no
