extensions:
	68publishers.i18n: SixtyEightPublishers\i18n\DI\I18nExtension(no)

68publishers.i18n:
	profiles:
		default:
			language: [ cs_CZ, sk_SK ]
			currency: [ CZK, EUR ]
			country: [ CZ, SK ]
	storage: SixtyEightPublishers\i18n\Tests\Fixture\DummyProfileStorage
	detector: SixtyEightPublishers\i18n\Tests\Fixture\DummyDetector(foo)
